<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Test</title>
  </head>
  <body>
    <div class="hero-image2">
      <div class="hero-text">
        <h1 class="hero-title">Rotten Peas</h1>
      </div>
    </div>
    <div class="navbar">
      <a href="#home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Categories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">BlogTalkRadio</a>
          <a href="#">Comedy</a>
          <a href="#">Games & Hobbies</a>
          <a href="#">Music</a>
          <a href="#">Occult</a>
          <a href="#">Pop Culture</a>
          <a href="#">Philosophy</a>
          <a href="#">Technology</a>
          <a href="#">TV & Film</a>
          <a href="#">Ubuntu</a>
        </div>
      </div>
    </div>
    <div class="pod-container">
      <ol>
        {{#each this}}
        <li>{{title}}</li>
        <img class="img-responsive" src="{{logo_url}}" alt="{{title}}" style="width:20%">
        {{/each}}
      </ol>
    </div>

    <script src="static/client.js"></script>
  </body>
</html>
