<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Test</title>
  </head>
  <body>
    <div class="hero-image2">
      <div class="hero-text">
        <h1 class="hero-title">Rotten Peas</h1>
      </div>
    </div>
    <div class="navbar">
      <a href="#home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Categories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">BlogTalkRadio</a>
          <a href="#">Comedy</a>
          <a href="#">Games & Hobbies</a>
          <a href="#">Music</a>
          <a href="#">Occult</a>
          <a href="#">Pop Culture</a>
          <a href="#">Philosophy</a>
          <a href="#">Technology</a>
          <a href="#">TV & Film</a>
          <a href="#">Ubuntu</a>
        </div>
      </div>
      <a href="#">Random</a>
      <input type="text" placeholder="Search..">
    </div>
    <div class="pod-container">
      <ol>
        {{#each this}}
        <li>{{title}}</li>

        {{/each}}
      </ol>

    </div>
    <div class="table-container">
      <table class="table pod-table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Top 5 Podcasts</th>
          </tr>
        </thead>
        <tbody>


        </tbody>
      </table>

    </div>

    <script src="static/client.js"></script>
  </body>
</html>
