<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Test</title>
  </head>
  <body>
    <div class="hero-image2">
      <div class="hero-text">
        <h1 class="hero-title">Rotten Peas</h1>
      </div>
    </div>

    <div class="navbar">
      <a href="#home" id="home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Categories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="" class="category" id="blogtalkradio">BlogTalkRadio</a>
          <a href="" class="category" id="comedy">Comedy</a>
          <a href="" class="category" id="games-hobbies">Games & Hobbies</a>
          <a href="" class="category" id="music">Music</a>
          <a href="" class="category" id="occult">Occult</a>
          <a href="" class="category" id="performing-arts">Pop Culture</a>
          <a href="" class="category" id="philosophy">Philosophy</a>
          <a href="" class="category" id="technology">Technology</a>
          <a href="" class="category" id="tv-film">TV & Film</a>
          <a href="" class="category" id="ubuntu">Ubuntu</a>
        </div>
      </div>

      <a href="#">Random</a>
      <input type="text" placeholder="Search..">
    </div>

    <div class="pod-container">

    </div>

    <div class="table-container">
      <table class="table pod-table">
        <theads>
          <h4 id="table-head">POPULAR PODCASTS</h4>
        </thead>
        <tbody id="table-body">

        </tbody>
      </table>

    </div>

    <script src="static/client.js"></script>


  </body>
</html>
