/* Coolors Exported Palette - coolors.co/d5dfe5-c9b1bd-a49e8d-baf2d8-73a580 */

/* HSL */
$color1: hsla(203%, 24%, 87%, 1);
$color2: hsla(330%, 18%, 74%, 1);
$color3: hsla(44%, 11%, 60%, 1);
$color4: hsla(152%, 68%, 84%, 1);
$color5: hsla(136%, 22%, 55%, 1);

/* RGB */
$color1: rgba(213, 223, 229, 1);
$color2: rgba(201, 177, 189, 1);
$color3: rgba(164, 158, 141, 1);
$color4: rgba(186, 242, 216, 1);
$color5: rgba(115, 165, 128, 1);


/* Coolors Exported Palette - coolors.co/ff4e00-f3de2c-7cb518-5c8001-8ea604 */

/* HSL */
$color1: hsla(18%, 100%, 50%, 1);
$color2: hsla(54%, 89%, 56%, 1);
$color3: hsla(82%, 77%, 40%, 1);
$color4: hsla(77%, 98%, 25%, 1);
$color5: hsla(69%, 95%, 33%, 1);

/* RGB */
$color1: rgba(255, 78, 0, 1);
$color2: rgba(243, 222, 44, 1);
$color3: rgba(124, 181, 24, 1);
$color4: rgba(92, 128, 1, 1);
$color5: rgba(142, 166, 4, 1);
